<br>
<div class="row">
	<div class="col-md-8 col-md-offset-2">
				<div class="panel panel-default">
					<div class="panel-heading">
					<h1 class="panel-title">
						<spam class="glyphicon glyphicon-edit"></span> Edit Your Profile
					</h1>
				</div>
				<div class="panel-body">
				<%= render 'form' %>
			</div>
		</div>
	</div>
</div>


<%= link_to 'Show', @profile %> |
<%= link_to 'Back', profiles_path %>
